{% extends 'gitmanager_frame.html' %}

{% block title %}{{ block.super }} :: Manager, Edit {{ course.key }}{% endblock %}

{% block heading %}
{% if course %}Edit {{ course.key }} repository settings{% else %}Add new course{% endif %}
{% endblock %}

{% block body %}
<div class="card" style="max-width: 600px; min-width: fit-content;">
  <div class="card-body">
    <form method="post">
      {% for field in form %}
      <div class="mb-2 {% if field.errors %}is-invalid{% endif %}">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
        <div class="alert alert-danger">
          {{ field.errors }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      <div class="mt-3">
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="{% url 'manager-courses' %}" class="btn btn-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
